function updateClientCount(count) {
  $("#client-count").text(count);
}

function newNotification() {
  $.titleAlert("New Message!", {
    requireBlur:true,
    stopOnFocus:true,
    duration:20000,
    interval:1500
  });
}

function prependPost(post) {
  var blogPost = ""

  blogPost += "<div class='blog-post'>";
  blogPost += "<h2 class='blog-post-title'>" + post.title + "</h2>";
  blogPost += "<p class='blog-post-meta'>" + moment(post.created_at) + " by ";
  blogPost += "<a href='#'>"+ post.author +"</a></p>";
  blogPost += "<p>"+post.body+"</p>";
  blogPost += "</div>";

  $("#blog-list").prepend(blogPost);
}

var URI;

<% if Rails.env == 'development' %>
  URI = 'localhost:3000/websocket';
<% else %>
  URI = 'obscure-oasis-1296.herokuapp.com/websocket';
<% end %>

var dispatcher = new WebSocketRails(URI);

dispatcher.on_open = function(data) {
  // You can trigger new server events inside this callback if you wish
  // immediately after the connection is made.
  console.log('Connection has been established: ', data);
}

clientsChannel = dispatcher.subscribe('clients');
clientsChannel.bind('client-count', function(count) {
  updateClientCount(count);
});

dispatcher.bind('welcome', function(data) {
  updateClientCount(data);
});

postsChannel = dispatcher.subscribe('posts');
postsChannel.bind('new_post', function(post) {
  prependPost(post);
  newNotification();
});


$(document).ready(function() {
  $("#submit").on("click", function() {
    var $textarea = $('#body');
    var $title    = $('#title');
    var $name     = $('#name');
    var body  = $textarea.val();
    var title = $title.val();
    var name  = $name.val();

    if (body.length > 0) {
      var post = {
        title: title,
        body: body,
        author: name || "Anonymous"
      }

      // Calling trigger on the dispatcher
      // and on the channel produce different results.
      dispatcher.trigger('new_post', post);
      $textarea.val("");
      $title.val("");
      $name.val("");
    }
  });
});
